{% extends "layout.html" %}
{% set active_nav = 'user' %}

{% block title %}Users{% endblock %}

{% block body %}
<nav class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <a class="btn btn-default {{'active' if status == None}}"
                href="{{url_for('.index')}}">All</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-default {{'active' if status == 0}}"
                href="{{url_for('.index', status=0)}}">Vistors</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-success {{'active' if status == 1}}"
                href="{{url_for('.index', status=1)}}">Paid Members</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-danger {{'active' if status == 2}}"
                href="{{url_for('.index', status=2)}}">Banned</a>
      </div>
    </div>
  </div>
</nav>

<section class="container">
  <nav>
    <ul class="pager">
      {% if p.prev %}
      <li class="previous">
        <a href="{{p.prev or '#'}}"><span>&larr;</span> Prev</a>
      </li>
      {% endif %}
      {% if p.next %}
      <li class="next {{'disabled' if not p.next}}">
        <a href="{{p.next or '#'}}">Next <span>&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="10%">#</th>
        <th width="15%">Avatar</th>
        <th width="25%">Name</th>
        <th width="10%">Gender</th>
        <th width="10%">Creation</th>

        <th class="text-center"
            width="10%">Status</th>
        <th class="text-center"
            width="20%">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{loop.index0 + p.start}}</td>
        <td>
          {% if user.meta.avatar %}
          <img width="48" height="48" src="{{user.meta.avatar}}"/>
          {% endif %}
        </td>
        <td>
          {% if user.meta.name %}
            <b>{{user.meta.name}}</b><br>
            {{user.login or '-'}}
          {% else %}
            <i><small>&lt;No Name&gt;</small></i>
          {% endif %}

        </td>
        <td>
          {{user.meta.gender or '-'}}
        </td>
        <td>{{user.creation|dateformat}}</td>
        <td class="text-center">
          {% if user.status == 0 %}
          <span class="glyphicon glyphicon-minus"
                style="color:#ddd;"></span>
          {% elif user.status == 1 %}
          <span class="glyphicon glyphicon-certificate"
                style="color:green;"></span>
          {% elif user.status == 2 %}
          <span class="glyphicon glyphicon-ban-circle"
                style="color:red;"></span>
          {% else %}
          {% endif %}
        </td>
        <td class="text-center">
          <a class="btn
             {{'btn-primary' if user.status == 1 else 'btn-default'}}"
             href="{{url_for('.detail', user_id=user._id)}}">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pager">
      {% if p.prev %}
      <li class="previous">
        <a href="{{p.prev or '#'}}"><span>&larr;</span> Prev</a>
      </li>
      {% endif %}
      {% if p.next %}
      <li class="next {{'disabled' if not p.next}}">
        <a href="{{p.next or '#'}}">Next <span>&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>
{% endblock %}
