{% extends "layout.html" %}

{% block header %}
<div class="section-header-back">
  <a class="btn btn-icon"
     href="{{url_for('.index')}}">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>
<h1>{{_('Category')}}</h1>
{% endblock %}

{% block main %}
<h2 class="section-title">
  {{term.meta.title}}
</h2>
<p class="section-lead">
  {{term.key}}
</p>

<form action="{{url_for('.update_term', term_key=term.key)}}"
      method="POST">
<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h4>{{_('Write Content')}}</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>{{_('Name')}}</label>
          <input class="form-control"
                 type="text"
                 name="name"
                 maxlength="60"
                 value="{{term.meta.name}}">
        </div>
        <div class="form-group">
          <label>{{_('Caption')}}</label>
          <textarea class="form-control"
                    placeholder="{{_('Type caption here.')}}"
                    rows="6"
                    name="caption">{{term.meta.caption}}</textarea>
        </div>
        <div class="form-group">
          <label>{{_('Parent Term')}}</label>
          <input class="form-control"
                 type="text"
                 name="parent"
                 value="{{term.parent}}">
          <small class="form-text text-muted">
            {{_('* Use parent term slug.')}}
          </small>
        </div>

      </div>
    </div>

  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4>{{_('Properties')}}</h4>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <button class="btn btn-primary">
            {{_('Save')}}
          </button>
          <a class="btn btn-danger ml-auto"
             aria-label="{{_('Delete')}}"
             href="{{url_for('.remove', term_key=term.key)}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
        <hr>
        <div class="form-group">
          <div class="control-label">
            {{_('Publish Status')}}
          </div>
          <select class="form-control"
                  name="status">
            <option value="0"
                    {{'selected' if term.status==0}}>
              {{_('Draft')}}
            </option>
            <option value="1"
                    {{'selected' if term.status==1}}>
              {{_('Published')}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>{{_('Poster')}}</label>
          {% if term.meta.figure %}
          <a class="mw-100"
             href="{{term.meta.figure}}"
             target="_blank">
            <img class="mw-100"src="{{term.meta.figure}}">
          </a>
          {% endif %}
          <div class="input-group">
            <input class="form-control"
                   type="text"
                   name="figure"
                   value="{{term.meta.figure}}">
            <div class="input-group-append">
              <button class="btn btn-primary"
                      aria-lable="{{_('Select Image')}}"
                      type="button">
                <i class="fas fa-image"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>{{_('Priority')}}</label>
          <input class="form-control"
                 type="text"
                 name="priority"
                 value="{{term.priority}}">
          <small class="form-text text-muted">
            {{_('* The priority of the term when sorting.')}}
          </small>
        </div>

      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}
{% block page_scripts %}
<script src="{{assets_url}}/modules/moment.min.js"></script>
<script src="{{assets_url}}/modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{assets_url}}/modules/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="{{assets_url}}/modules/summernote/summernote-bs4.js"></script>
<script src="{{assets_url}}/modules/summernote/lang/summernote-{{locale|replace('_', '-')}}.js"></script>
<script>
  'use strict';

  $('form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
      e.preventDefault();
      return false;
    }
  });

  $(".inputtags").tagsinput('items');

  var editor_lang = ($('.summernote').attr('locale') || '').replace('_', '-');
  $('.summernote').summernote({
    height: 640,
    dialogsInBody: true,
    lang: editor_lang,
    onImageUpload: function(files, editor, welEditable) {
      sendFile(files[0], editor, welEditable);
    },
    toolbar: [
      // [groupName, [list of button]]
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['font', ['strikethrough', 'superscript', 'subscript']],
      ['fontsize', ['fontsize']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['insert', ['link', 'picture', 'video']],
      ['view', ['codeview']],
    ]
  });
</script>
{% endblock %}
