/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */

.form-control::placeholder {
  opacity: 0.6 !important;
}
.form-control::-moz-placeholder {
  opacity: 0.6 !important;
}
.form-control:-ms-input-placeholder {
  opacity: 0.6 !important;
}
.form-control::-ms-input-placeholder {
  opacity: 0.6 !important;
}

.list-figure {
  display: inline-block;
  width: 96px;
  height: 96px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.list-icon {
  width: 96px;
  height: 96px;
  font-size: 48px;
  line-height: 96px;
  text-align: center;
}


/* Editor */
.content-editor .note-editing-area .note-editable,
.content-editor .note-editing-area .note-codable {
  min-height: 480px;
  margin-top: 8px;
  outline: 0;
}

.content-editor .note-editing-area .note-codable {
  max-height: 600px;
}