/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */

.form-control::placeholder {
  opacity: 0.6 !important;
}
.form-control::-moz-placeholder {
  opacity: 0.6 !important;
}
.form-control:-ms-input-placeholder {
  opacity: 0.6 !important;
}
.form-control::-ms-input-placeholder {
  opacity: 0.6 !important;
}

.list-figure {
  display: inline-block;
  width: 96px;
  height: 96px;
  background-size: cover;
  background-position: center center;
  background-color: #eee;
  border-radius: 50%;
}

.list-icon {
  width: 96px;
  height: 96px;
  font-size: 48px;
  line-height: 96px;
  text-align: center;
}

.img-figure {
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  max-height: 96px;
  width: 96px;
}

.modal-fullscreen {
  min-width: 100%;
  max-width: 100%;
  margin: 1rem;
  padding-right: 15px;
}

