{% extends "layout.html" %}
{% set active_nav = 'notify' %}

{% block title %}Notifies{% endblock %}

{% block body %}
<section class="container">
  <a class="btn btn-default"
     href="{{url_for('.index')}}">
    <span class="glyphicon glyphicon-menu-left"></span>
    Back
  </a>
  <hr>
  <div class="row">
    <!-- notify -->
    <form class="col-md-6"
          action="{{url_for('.update')}}"
          method="POST">

      <div class="form-group">
        <label>Slug</label>
        <input class="form-control"
               type="text"
               name="slug"
               value="{{notify.slug}}" />
      </div>

      <div class="form-group">
        <label>Template ID</label>
        <input class="form-control"
               type="text"
               name="template_id"
               value="{{notify.template_id}}" />
      </div>

      <div class="form-group">
        <label>Source</label>
        <textarea class="form-control"
                  name="source">{{notify.source}}</textarea>
      </div>

      <div class="form-group">
        <label>Params</label>
        <textarea class="form-control"
                  name="source">{{notify.params|json}}</textarea>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-disk"></span>
            Save
          </button>
        </div>
      </div>

    </form>

  </div>
  <br><br>

</section>

{% endblock %}
