{% import "g" as g with context %}

<!DOCTYPE html>
<html lang="{{lang}}">

{% include '_head.html' %}

<body>
    <!-- Navigation -->
    {% include '_header.html' %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% set default_kv = theme_url + '/img/home-bg.jpg' %}
    <header class="intro-header" 
    style="background-image: url('{{meta.kv or default_kv}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10
                col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{meta.title}}</h1>
                        <hr class="small">
                        <span class="subheading">{{meta.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            {% set booklet = stapler(pages|type("works"),g.paged,g.perpage)%}

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
        				{% for post in booklet.pages %}
        				<div class="post-preview">
        				    <a href="{{post.url}}">
        				        <h2 class="post-title">{{post.title}}</h2>
        				        <h3 class="post-subtitle">{{post.description}}</h3>
        				    </a>
        				    <p class="post-meta">由 <a href="#">{{post.author}}</a> 撰写于 {{post.date_formatted}}</p>
        				</div>
        				<hr>
        				{% endfor %}

                {% if booklet.max and booklet.paged %}
                <ul class="pager">
                  	{% set has_next_flip_page = booklet.paged < booklet.max %}
                  	{% set has_prev_flip_page = booklet.paged > 1 %}

                    {% if has_next_flip_page %}
                    <li class="next">
                        <a href="{{ glue({'paged':booklet.paged+1}) }}">
                          Next &rarr;
                        </a>
                    </li>
                    {% endif %}

                    {% if has_prev_flip_page %}
                    <li class="next">
                        <a href="{{ glue({'paged':booklet.paged-1}) }}">
                          &larr; Back
                        </a>
                    </li>
                    {% endif %}
               </ul>
               {% endif %}
            </div>
        </div>
    </div>
    <hr>
<!-- Footer -->
{% include '_footer.html'%}
</body>
</html>
