{% extends "layout.html" %}

{% block nav %}{% endblock %}
{% block title %}Initialization{% endblock %}

{% block body %}
<section class="container">
  <div class="row">
    <form class="col-md-4"
          method="post">
      <fieldset class="form-group">
        <input class="form-control"
               type="text"
               placeholder="New Passcode"
               name="passcode">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control"
               type="text"
               placeholder="Confirm Passcode"
               name="passcode2">
      </fieldset>
      <div>
        <button class="btn btn-primary">Initialize</button>
      </div>
    </form>
    <div class="col-md-8">
      <p>The system is brand new, please setup admin passcode. passcode must be Letters, numbers, symbols</p>
    </div>
  </div>
</section>
{% endblock %}
