body {
  padding: 15px;
}

body > footer {
  margin-top: 30px;
}

img {
  max-width: 100%;
}

.paginator {
  text-align: right;
}

.attachments:after,
.attachments:before {
  content: " ";
  display: table;
}

.attachments:after {
  clear: both;
}

.attachments figure {
  max-width: 25%;
  float: left;
}
