<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ site_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Description Goes Here">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header>

</header>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
    		  <h1>{{ site_title }}</h1>
              <div class="sub-title">{{ config.get("SITE_DESCRIPTION") or "My Posts" }}</div>
    		</section>
    		<ul class="entries">
    		{% for page in pages %}
    		  <li>
    		    <a href="{{ page["url"] }}">
    		        <h3>{{ page["title"] }}</h3>
                <time>{{ page["date"] }}</time>
                <div>{{ page["description"] }}</div>
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
        {% include theme_path_for("pagination") %}
    	</div>
    </main>
  </div>
{% include theme_path_for("footer") %}
</body>
</html>