<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ meta["title"] }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Description Goes Here">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/code.css") }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header>

</header>

  <div class="content">
    <main class="content">
        <section class="container">
            <div class="row-fluid">
                <article class="home-icon">
                    <a href="/">
                        <i class="icon-home"></i>
                    </a>
                </article>
                <article class="post">
                    <h2 class="content">{{ meta["title"] }}</h2>
                    <h5>{{ meta["date"] }}</h5>
                    <section>
                        {% autoescape false %}
                        {{ content }}
                        {% endautoescape %}
                        <hr>
                    </section>
                    <section style="margin-bottom: 2em;">
                        {% if prev_page %}
                                <a rel="prev" class="a-hover" href="{{ prev_page["url"] }}"><i class="icon-arrow-left"></i> {{ prev_page["title"] }}</a>
                            {% endif %}
                            {% if next_page %}
                                <a rel="next" style="float:right" class="a-hover" href="{{ next_page["url"] }}">{{ next_page["title"] }} <i class="icon-arrow-right"></i></a>
                        {% endif %}
                    </section>
                </article>
            </div>
        </section>
    </main>
  </div>
{% include theme_path_for("footer") %}
</body>
</html>