{% extends "layout.html" %}
{% set active_nav = 'media' %}

{% block title %}Media Files{% endblock %}

{% block body %}

<section class="container">
  <form class="media-uploader"
        action="{{url_for('.upload')}}"
        accept="image/*"
        method="POST"
        enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" name="files" multiple />
      <div class="media-previews"></div>
    </div>
    <span class="help-block">Max 12 files at one time.</span>
    <div class="form-group">
      <button type="submit" style="display:none">Upload</button>
    </div>
  </form>
</section>

<section class="container">
  <nav>
    <ul class="pager">
      {% if p.prev %}
      <li class="previous">
        <a href="{{p.prev or '#'}}"><span>&larr;</span> Prev</a>
      </li>
      {% endif %}
      {% if p.next %}
      <li class="next {{'disabled' if not p.next}}">
        <a href="{{p.next or '#'}}">Next <span>&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <table class="table table-hover">
    <thead>
      <tr>
        <th width="20%">Preview</th>
        <th width="40%">Filename</th>
        <th width="10%">Creation</th>
        <th class="text-center"
            width="10%">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for media in mediafiles %}
      <tr>
        <td>
          <a href="{{media.src}}"
             target="_blank">
            <img src="{{media.src}}"
                 width="60"
                 height="60" />
          </a>
        </td>
        <td>{{media.filename}}</td>
        <td>{{media.creation|dateformat}}</td>
        <td class="text-center">
          <a class="btn btn-danger"
             href="{{url_for('.remove', media_id=media._id,
                                        paged=p.paged)}}">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pager">
      {% if p.prev %}
      <li class="previous">
        <a href="{{p.prev or '#'}}"><span>&larr;</span> Prev</a>
      </li>
      {% endif %}
      {% if p.next %}
      <li class="next {{'disabled' if not p.next}}">
        <a href="{{p.next or '#'}}">Next <span>&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>

{% endblock %}

{% block custom_scripts %}
<script src="{{url_for('.static', filename='scripts/functions.js')}}">
</script>
{% endblock %}
