{% import 'g' as g with context %}
<!DOCTYPE html>
<html>
{% include '_head_.html' %}
<body>
{% include '_header.html' %}

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 200px;">
      <ol class="carousel-indicators">
        {% for item in meta.carousels %}
        <li data-target="#myCarousel"
         data-slide-to="{{loop.index0}}" 
         class="{{'active' if loop.first}}">
        </li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for item in meta.carousels %}
        <div class="item {{'active' if loop.first}}">
          <a href="{{item.link}}"><img class="{{item.class}}" target="{{item.target}}" src="{{item.src}}"></a>
        </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
</div>

{% set tem = ["about","contact"] %}
{% for page in pages | type('page') if page.template != meta.template and page.template in tem %}
  {% include page.template+'.html' ignore missing %}
{% endfor %}

{% include '_footer.html' %}
</body>
</html>