{% import "g" as g with context %}

<!DOCTYPE html>
<html lang="{{lang}}">

{% include '_head.html' %}

<body>
  <!-- Navigation -->
  {% include '_header.html' %}
  <!-- Page Header -->
  <header>
    <h1>{{meta.title}}</h1>
    <hr>
    <span>
      {{meta.description}}
    </span>
  </header>
  <!-- Metas -->
  <section id="metas">

  </section>
  <!-- Main Content -->
  <section id="contents">

  </section>
<!-- Footer -->
<script src="{{theme_url}}/scripts/ajax.js"></script>
<script>
  var dummyHanlder = function(){
    var metas = {
      type: 'GET',
      url: 'http://0.0.0.0:5500/restapi/metas'
    }
    ajax(metas).then(function(meta){
      console.log(meta);
      metaElement = document.querySelector('#metas');
      for (var k in meta){
        child = document.createElement('DIV')
        child.innerHTML = [
          '<p>',
          k+': '+meta[k]+'<br>',
          '</p>'
        ].join('')
        metaElement.appendChild(child)
      }
      hr = document.createElement('HR')
      metaElement.appendChild(hr)
    }).catch(function(rejected){
      console.error(rejected);
    });

    var contents = {
      type: 'POST',
      url: 'http://0.0.0.0:5500/restapi/contents'
    }
    ajax(contents).then(function(result){
      console.log(result);
      contentElement = document.querySelector('#contents');
      for (var i=0; i<result.length; i++){
        content = result[i]
        child = document.createElement('DIV')
        child.innerHTML = [
          '<p>',
          'id: '+content.id+'<br>',
          'Slug: '+content.slug+'<br>',
          'Title: '+content.title+'<br>',
          'Description: '+content.description+'<br>',
          'Priority: '+content.priority+'<br>',
          'Update: '+new Date(content.updated*1000)+'<br>',
          '</p>',
          '<div>'+content.content+'</div>',
          '<hr>'
        ].join('')
        contentElement.appendChild(child)
      }
    }).catch(function(rejected){
      console.error(rejected);
    });
  }
  document.addEventListener('DOMContentLoaded', dummyHanlder)
</script>

{% include '_footer.html'%}
</body>
</html>
