{% set copyright %}
Copyright &copy; 2019 <div class="bullet"></div> Powered By <a href="https://github.com/soopro/pyco">Pyco</a> <span>{{ver}}</span>
{% endset %}

<!DOCTYPE html>
<html lang="{{lang}}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>Pyco</title>
<link rel="shortcut icon" href="{{static_url+'/favicon.png'}}">

<!-- General CSS Files -->
<link rel="stylesheet"
      href="{{static_url}}/modules/bootstrap/bootstrap.min.css">
<link rel="stylesheet"
      href="{{static_url}}/modules/fontawesome/all.min.css">

<!-- CSS Libraries -->
{% block page_css %}
{% endblock %}

<!-- Template CSS -->
<link rel="stylesheet" href="{{static_url}}/css/style.css">
<link rel="stylesheet" href="{{static_url}}/css/components.css">
<link rel="stylesheet" href="{{static_url}}/css/custom.css">

</head>

<body>
  <section class="fixed-top">
    <div class="m-1 flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for style, message in messages %}
          {% if style == 'MEDIA_UPLOADED' %}
            {% set flash_style = 'success' %}
            {% set flash_msg = _('MEDIA_UPLOADED: %s', message) %}
          {% elif style == 'MEDIA_EXISTS' %}
            {% set flash_style = 'warning' %}
            {% set flash_msg = _('MEDIA_EXISTS: %s', message) %}
          {% elif style == 'message' %}
            {% set flash_style = 'success' %}
            {% set flash_msg = _(message) %}
          {% else %}
            {% set flash_style = style %}
            {% set flash_msg = _(message) %}
          {% endif %}
          <div class="alert alert-{{flash_style}}
                      alert-dismissible alert-has-icon show fade">
            <div class="alert-icon mt-0">
              <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="alert-body">
              <span>{{flash_msg}}</span>
              <button class="close" data-dismiss="alert">
                <span>×</span>
              </button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
  </section>

  <div id="app">

    <!-- Layout -->
    {% block layout %}
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <div class="mr-auto">
          <ul class="navbar-nav mr-3">
            <li>
              <a class="nav-link nav-link-lg" href="#" data-toggle="sidebar">
              <i class="fas fa-bars"></i></a></li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li>
            <a class="nav-link nav-link-lg"
               data-toggle="modal"
               data-target="#MODAL-EXIT"
               href="#" >
              <i class="fas fa-power-off"></i>
            </a>
          </li>
        </ul>
      </nav>
      {% block aside %}
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{{url_as('dashboard.index')}}">Pyco</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{{url_as('dashboard.index')}}">P</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">{{_('Cardinal')}}</li>
            <li>
              <a class="nav-link" href="{{url_as('dashboard.index')}}">
                <i class="fas fa-fire"></i> <span>{{_('Dashboard')}}</span>
              </a>
            </li>

            <li class="menu-header">{{_('Content')}}</li>
            {% for content_type in site.content_types %}
            <li>
              <a class="nav-link"
                 href="{{url_as('content.index',
                         content_type=content_type.key)}}">
                {% if content_type.key == 'page' %}
                  <i class="far fa-file"></i>
                {% else %}
                  <i class="far fa-file-alt"></i>
                {% endif %}
                <span>{{_(content_type.title)}}</span>
              </a>
            </li>
            {% endfor %}

            {% if site.categories.status %}
            <li>
              <a class="nav-link"
                 href="{{url_as('category.index')}}">
                <i class="fas fa-book"></i>
                <span>{{_('Category')}}</span>
              </a>
            </li>
            {% endif %}

            <li>
              <a class="nav-link"
                 href="{{url_as('media.index')}}">
                <i class="fas fa-photo-video"></i>
                <span>{{_('Media Files')}}</span>
              </a>
            </li>

            <li class="menu-header">{{_('Preference')}}</li>
            <li>
              <a class="nav-link"
                 href="{{url_as('preference.site')}}">
                <i class="fas fa-sitemap"></i>
                <span>{{_('Site')}}</span>
              </a>
            </li>
            <li>
              <a class="nav-link"
                 href="{{url_as('preference.appearance')}}">
                <i class="fas fa-palette"></i>
                <span>{{_('Appearance')}}</span>
              </a>
            </li>
            <li>
              <a class="nav-link"
                 href="{{url_as('preference.configuration')}}">
                <i class="fas fa-cog"></i>
                <span>{{_('Configuration')}}</span>
              </a>
            </li>
          </ul>
        </aside>
        {% endblock %}
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            {% block header %}{% endblock %}
          </div>

          <div class="section-body">
            {% block main %}
            {% endblock %}
          </div>
        </section>
      </div>

      <footer class="main-footer">
        <div class="footer-left">
          {{copyright|safe}}
        </div>
        <div class="footer-right">

        </div>
      </footer>
    </div>
    {% endblock %}

  </div>


  <div id="MODAL-EXIT"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="{{_('Exit')}}"
       aria-hidden="true">
    <div class="modal-dialog" role="exit">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{_('Exit')}}</h5>
          <button class="close"
                  type="button"
                  data-dismiss="modal"
                  aria-label="{{_('Close')}}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{_('Are you sure want exit the system?')}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">{{_('Dismiss')}}</button>
          <a class="btn btn-primary"
             href="{{url_as('dashboard.logout')}}">
            {{_('Yes, Exit!')}}
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include '_media_repo.html' %}

  {% block page_modals %}
  {% endblock %}

  <!-- General JS Scripts -->
  <script src="{{static_url}}/modules/jquery.min.js"></script>
  <script src="{{static_url}}/modules/popper.js"></script>
  <script src="{{static_url}}/modules/tooltip.js"></script>
  <script src="{{static_url}}/modules/bootstrap/bootstrap.min.js"></script>
  <script src="{{static_url}}/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="{{static_url}}/js/stisla.js"></script>

  <!-- Page Specific JS File -->
  {% block page_scripts %}
  {% endblock %}

  <!-- Template JS File -->
  <script src="{{static_url}}/js/scripts.js"></script>
  <script src="{{static_url}}/js/custom.js"></script>
</body>
</html>