{% set _series = meta[key] or [] %}
<form class="multientry-form"
      action="{{url_as('.update_custom_field',
                       content_type=document.content_type,
                       slug=document.slug)}}"
      method="POST">
<input type="hidden" name="type" value="series">
<input type="hidden" name="key" value="{{key}}">
<div class="card">
  <div class="card-header">
    {% if opts.label is mapping %}
      {% set label = opts.label[locale] or opts.label[lang] %}
    {% else %}
      {% set label = opts.label %}
    {% endif %}
    <h4>{{label or key|title}}</h4>
  </div>
  <div class="card-body">
    <div class="fields">
      {% for item in _series %}
      <div class="field-entry">
        <div class="mb-3 d-flex">
          <h4><span class="badge badge-light">#{{loop.index0}}</span></h4>
          <button class="btn btn-outline-danger btn-icon remove-field ml-auto"
                  aria-label="{{_('Remove')}}"
                  type="button">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="form-group">
          <label>{{_('Text')}}</label>
          <div class="input-group">
            <input class="form-control"
                   type="text"
                   name="title"
                   maxlength="60"
                   placeholder="{{_('Title')}}"
                   value="{{item.title}}">
            <input class="form-control"
                 type="text"
                 name="caption"
                 maxlength="360"
                 placeholder="{{_('Caption')}} {{_('(Optional)')}}"
                 value="{{item.caption}}">
          </div>
        </div>

        <div class="form-group media-preview-field">
          <label>{{_('Image URL')}}</label>
          <div class="media-preview">
            <a href="#" target="_blank">
              <img class="img-figure" src="">
            </a>
          </div>
          <div class="input-group">
            <input class="form-control media-input"
                   type="text"
                   name="src"
                   value="{{item.src}}">
            <div class="input-group-append">
              <button class="btn btn-secondary"
                      aria-lable="{{_('Select Image')}}"
                      data-toggle="modal"
                      data-target="#MODAL-MEDIAREPO"
                      data-input="src"
                      type="button">
                <i class="fas fa-image"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>{{_('Link to URL')}}</label>
          <div class="input-group">
            <input class="form-control"
                   type="text"
                   name="link"
                   maxlength="360"
                   placeholder="URL, http://somesite.com"
                   value="{{item.link}}">
            <input class="form-control col-md-3 col-4"
                   type="text"
                   name="target"
                   maxlength="60"
                   placeholder="_self"
                   value="{{item.target}}">
          </div>
        </div>
        <hr>
      </div>
      {% endfor %}
    </div>

    <div class="TMPL d-none">
      <div class="field-entry">
        <div class="mb-3 d-flex">
          <h4><span class="badge badge-light">#{{_('New')}}</span></h4>
          <button class="btn btn-outline-danger btn-icon remove-field ml-auto"
                  aria-label="{{_('Remove')}}"
                  type="button">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="form-group">
          <label>{{_('Text')}}</label>
          <div class="input-group">
            <input class="form-control"
                   type="text"
                   name="title"
                   maxlength="60"
                   placeholder="{{_('Title')}}"
                   value="">
            <input class="form-control"
                 type="text"
                 name="caption"
                 maxlength="360"
                 placeholder="{{_('Caption')}} {{_('(Optional)')}}"
                 value="">
          </div>
        </div>

        <div class="form-group">
          <label>{{_('Image URL')}}</label>
          <div class="input-group">
            <input class="form-control media-input"
                   type="text"
                   name="src"
                   value="">
            <div class="input-group-append">
              <button class="btn btn-secondary"
                      aria-lable="{{_('Select Image')}}"
                      data-toggle="modal"
                      data-target="#MODAL-MEDIAREPO"
                      data-input="src"
                      type="button">
                <i class="fas fa-image"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>{{_('Link to URL')}}</label>
          <div class="input-group">
            <input class="form-control"
                   type="text"
                   name="link"
                   maxlength="360"
                   placeholder="URL, http://somesite.com"
                   value="">
            <input class="form-control col-md-3 col-4"
                   type="text"
                   name="target"
                   maxlength="60"
                   placeholder="_self"
                   value="">
          </div>
        </div>
        <hr>
      </div>

    </div>

  </div>
  <div class="card-footer d-flex">
    <button class="btn btn-outline-primary btn-icon add-field"
            aria-label="{{_('Add')}}"
            type="button">
      <i class="fas fa-plus"></i>
    </button>
    <button class="btn btn-primary ml-auto">
      {{_('Save')}}
    </button>
  </div>
</div>
</form>