{% set _value = meta[key] or '' %}
<div class="card custom-form"
     data-key="{{key}}"
     data-type="hardcore">
  <div class="card-header d-flex">
    <h4>
      {{_(opts.label)|title}}
    </h4>
    <small class="text-muted ml-auto">
      {{key}}
    </small>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>{{_('JSON Code')}}</label>
      <textarea class="form-control"
                name="code"
                maxlength="3600"
                rows="6">{{_value|tojson}}</textarea>
      <small class="form-text text-muted">
        {{_('* For expert only, must use JSON format.')}}
      </small>
    </div>
  </div>

</div>