{% set _series = meta[key] or [] %}
<form class="multientry-form"
      action="{{url_as('.update_custom_field',
                       content_type=document.content_type,
                       slug=document.slug)}}"
      method="POST">
<input type="hidden" name="type" value="series">
<input type="hidden" name="key" value="{{key}}">
<div class="card">
  <div class="card-header">
    <h4>{{key|title}}</h4>
  </div>
  <div class="card-body">
    <div class="series-fields">
      {% for item in _series %}
      <div class="form-group">
        <label>{{_('Title')}}</label>
        <input class="form-control"
               type="text"
               name="title"
               maxlength="60"
               value="{{item.title}}">
      </div>

      <div class="form-group">
        <label>{{_('Caption')}}</label>
        <input class="form-control"
               type="text"
               name="caption"
               maxlength="360"
               value="{{item.caption}}">
      </div>

      <div class="form-group media-input-field">
        <label>{{_('Image URL')}}</label>
        <div class="media-preview">
          <a href="#" target="_blank">
            <img class="img-figure" src="">
          </a>
        </div>
        <div class="input-group">
          <input class="form-control media-input"
                 type="text"
                 name="src"
                 value="{{item.src}}">
          <div class="input-group-append">
            <button class="btn btn-secondary"
                    aria-lable="{{_('Select Image')}}"
                    data-toggle="modal"
                    data-target="#MODAL-MEDIAREPO"
                    data-input="src"
                    type="button">
              <i class="fas fa-image"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>{{_('Link to URL')}}</label>
        <div class="input-group">
          <input class="form-control"
                 type="text"
                 name="link"
                 maxlength="360"
                 placeholder="URL, http://somesite.com"
                 value="{{item.link}}">
          <input class="form-control col-md-3 col-4"
                 type="text"
                 name="target"
                 maxlength="60"
                 placeholder="{{_('Target Window')}}"
                 value="{{item.target}}">
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="TMPL">
      <div class="form-group">
        <label>{{_('Title')}}</label>
        <input class="form-control"
               type="text"
               name="title"
               maxlength="60"
               value="">
      </div>
      <div class="form-group">
        <label>{{_('Caption')}}</label>
        <input class="form-control"
               type="text"
               name="caption"
               maxlength="360"
               value="">
      </div>
      <div class="form-group media-input-field">
        <label>{{_('Image URL')}}</label>
        <div class="media-preview">
          <a href="#" target="_blank">
            <img class="img-figure" src="">
          </a>
        </div>
        <div class="input-group">
          <input class="form-control media-input"
                 type="text"
                 name="src"
                 value="">
          <div class="input-group-append">
            <button class="btn btn-secondary"
                    aria-lable="{{_('Select Image')}}"
                    data-toggle="modal"
                    data-target="#MODAL-MEDIAREPO"
                    data-input="src"
                    type="button">
              <i class="fas fa-image"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>{{_('Link to URL')}}</label>
        <div class="input-group">
          <input class="form-control"
                 type="text"
                 name="link"
                 maxlength="360"
                 placeholder="URL, http://somesite.com"
                 value="">
          <input class="form-control col-md-3 col-4"
                 type="text"
                 name="target"
                 maxlength="60"
                 placeholder="{{_('Target Window')}}"
                 value="">
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer d-flex">
    <button class="btn btn-outline-primary btn-icon add-field"
            aria-label="{{_('Add')}}"
            type="button">
      <i class="fas fa-plus"></i>
    </button>
    <button class="btn btn-primary ml-auto">
      {{_('Save')}}
    </button>
  </div>
</div>
</form>