{% set _text = meta[key] or '' %}
<form class="ajax-form"
      action="{{url_as('.update_custom_field',
                       content_type=document.content_type,
                       slug=document.slug)}}"
      method="POST">
<input type="hidden" name="type" value="text">
<input type="hidden" name="key" value="{{key}}">
<div class="card">
  <div class="card-header d-flex">
    <h4 key="{{key}}">
      {{(opts.label[lang] or opts.label[locale] or opts.label)|title}}
    </h4>
    <span class="flash ml-auto" style="display: none;">
      <i class="fa fa-save"></i>
    </span>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>{{_('Text')}}</label>
      <input class="form-control"
             type="text"
             name="text"
             maxlength="360"
             value="{{_text}}">
    </div>
  </div>
  <div class="card-footer d-flex">
    <button class="btn btn-outline-secondary btn-icon reset-form"
            aria-label="{{_('Reset')}}"
            type="button">
      <i class="fa fa-redo-alt"></i>
    </button>
    <button class="btn btn-primary ml-auto"
            type="submit">
      {{_('Save')}}
    </button>
  </div>
</div>
</form>