{% set _obj = meta[key] or {} %}
<div class="card custom-form"
     data-key="{{key}}"
     data-type="attrs">
  <div class="card-header d-flex">
    <h4>
      {{_(opts.label)|title}}
    </h4>
    <small class="text-muted ml-auto">
      {{key}}
    </small>
  </div>
  <div class="card-body">
    <div class="form-row">
      {% for prop in opts.props %}
      {% set _value = _obj[prop.key] if prop.key in _obj else prop.value %}
      {% if prop.type == 'text' %}
      <div class="form-group col-md-6">
        <label>
          {{_(prop.label)|title}}
        </label>
        <input class="form-control"
               type="text"
               name="{{prop.key}}"
               maxlength="120"
               value="{{_value}}">
      </div>
      {% elif prop.type == 'image' %}
      <div class="form-group col-md-6 media-preview-field">
        <label>
          {{_(prop.label)|title}}
        </label>
        <div class="input-group">
          <div class="input-group-append media-preview">
            <a href="#" target="_blank"></a>
          </div>
          <input class="form-control media-input"
                 type="text"
                 name="{{prop.key}}"
                 value="{{_value or ''}}">
          <div class="input-group-append">
            <button class="btn btn-secondary"
                    aria-lable="{{_('Select Image')}}"
                    data-toggle="modal"
                    data-target="#MODAL-MEDIAREPO"
                    data-input="{{prop.key}}"
                    type="button">
              <i class="fas fa-image"></i>
            </button>
          </div>
        </div>
      </div>
      {% elif prop.type == 'select' %}
      <div class="form-group col-md-6">
        <label>
          {{_(prop.label)|title}}
        </label>
        <select class="form-control"
                name="{{prop.key}}">
          <option value="">{{_('Empty')}}</option>
          {% for op in prop.options %}
          <option value="{{op.value}}" {{'selected' if _value == op.value}}>
            {{_(op.label)|title}}
          </option>
          {% endfor %}
        </select>
      </div>
      {% elif prop.type == 'switch' %}
      <div class="form-group col-md-6">
        <label>{{_('Switch')}}</label>
        <div>
          <label class="custom-switch mt-2">
            <input class="custom-switch-input"
                   type="checkbox"
                   name="{{prop.key}}"
                   {{'checked' if _value}}>
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">{{_(prop.label)}}</span>
          </label>
        </div>
      </div>
      {% elif prop.type == 'textarea' %}
      <div class="form-group col-12">
        <label>
          {{_(prop.label)|title}}
        </label>
        <textarea class="form-control"
                  name="{{prop.key}}"
                  rows="4"
                  maxlength="600">{{_value}}</textarea>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>