{% set _obj = meta[key] or {} %}
<div class="card custom-form"
     data-key="{{key}}"
     data-type="attrs">
  <div class="card-header d-flex">
    <h4>
      {{_(opts.label)|title}}
    </h4>
    <small class="text-muted ml-auto">
      {{key}}
    </small>
  </div>
  <div class="card-body">
    <div class="form-row">
      {% for prop in opts.props %}
      {% set _value = _obj[prop.key] if prop.key in _obj else prop.value %}
      <div class="form-group col-md-6 col-xl-4">
        {% if prop.type == 'text' %}
        <label>
          {{_(prop.label)|title}}
        </label>
        <input class="form-control"
               type="text"
               name="{{prop.key}}"
               maxlength="360"
               value="{{_value}}">
        {% elif prop.type == 'select' %}
        <label>
          {{_(prop.label)|title}}
        </label>
        <select class="form-control"
                name="{{prop.key}}">
          <option value="">{{_('Empty')}}</option>
          {% for op in prop.options %}
          <option value="{{op.value}}" {{'selected' if _value == op.value}}>
            {{_(op.label)|title}}
          </option>
          {% endfor %}
        </select>
        {% elif prop.type == 'switch' %}
        <label>{{_('Switch')}}</label>
        <div>
          <label class="custom-switch mt-2">
            <input class="custom-switch-input"
                   type="checkbox"
                   name="{{prop.key}}"
                   {{'checked' if _value}}>
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">{{_(prop.label)}}</span>
          </label>
        </div>
        <div>
          <label class="custom-switch mt-2">
            <input class="custom-switch-input"
                   type="checkbox"
                   name="{{prop.key}}-1"
                   {{'checked' if _value}}>
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">{{_(prop.label)}}</span>
          </label>
        </div>
        <div>
          <label class="custom-switch mt-2">
            <input class="custom-switch-input"
                   type="checkbox"
                   name="{{prop.key}}-2"
                   {{'checked' if _value}}>
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">{{_(prop.label)}}</span>
          </label>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>