{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="{{static_url}}/modules/bootstrap-tagsinput/bootstrap-tagsinput.css">
<link rel="stylesheet" href="{{static_url}}/modules/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="{{static_url}}/modules/summernote/summernote-bs4.css">
{% endblock %}

{% block header %}
<div class="section-header-back">
  <a class="btn btn-icon"
     href="{{url_as('.index', content_type=content_type.key)}}">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>
<h1>{{_(content_type.title)}}</h1>
<div class="ml-auto">
  <a class="btn btn-icon btn-outline-secondary"
     href="{{url_as('.content_raw',
                     content_type=document.content_type,
                     slug=document.slug)}}">
    <i class="fas fa-flask"></i>
  </a>
</div>
{% endblock %}

{% block main %}
<h2 class="section-title">
  {{document.meta.title}}
</h2>
<p class="section-lead">
  <a href="{{preview_url}}"
     target="_blank">
    {{document.content_type}} / {{document.slug}}
  </a>
</p>

<form class="prevent-enter-key"
      action="{{url_as('.update_content',
                        content_type=document.content_type,
                        slug=document.slug)}}"
      method="POST">
<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h4>{{_('Write Content')}}</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>{{_('Title')}}</label>
          <input class="form-control"
                 type="text"
                 name="title"
                 maxlength="60"
                 value="{{meta.title}}">
        </div>
        <div class="form-group content-editor">
          <label>{{_('Content')}}</label>
          <textarea class="summernote form-control"
                    placeholder="{{_('Type content here.')}}"
                    locale="{{locale}}"
                    media-modal="#MODAL-MEDIAREPO"
                    name="content">{{content|shortcode}}</textarea>
        </div>
        <div class="form-group">
          <label>{{_('Tags')}}</label>
          <input class="form-control inputtags"
                 type="text"
                 name="tags"
                 value="{{document.tags|join(',')}}">
        </div>

      </div>
    </div>

    {% if custom_fields %}
    <div class="card">
      <div class="card-header">
        <h4>{{_('Custom Fields')}}</h4>
      </div>
      <div class="card-body">
        {% for k, v in custom_fields.items() %}
          {% if v in ['', 'text'] %}
          <div class="form-group content-editor">
            <label>{{k}}</label>
            <input class="form-control"
                   type="text"
                   name="{{k}}"
                   maxlength="360"
                   value="{{meta[k]}}">
          </div>
          {% elif v == 'series' %}
          <div class="form-group content-editor">
            <label>{{k}}</label>
            <textarea class="form-control"
                      name="{{k}}"
                      rows="6">{{meta[k]}}</textarea>
            <small class="form-text text-muted">
              {{_('* For expert only, must use JSON format.')}}
            </small>
          </div>
          {% else %}
          <div class="form-group content-editor">
            <label>{{k}}</label>
            <textarea class="form-control"
                      name="{{k}}">{{meta[k]}}</textarea>
            <small class="form-text text-muted">
              {{_('* For expert only, must use JSON format.')}}
            </small>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4>{{_('Properties')}}</h4>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <button class="btn btn-primary">
            {{_('Save Content')}}
          </button>
          <a class="btn"
             aria-label="{{_('Save Content')}}"
             href="{{preview_url}}"
             target="_blank">
            <i class="fa fa-link"></i>
          </a>
          {% if document.slug != 'index' or document.content_type != 'page' %}
          <a class="btn btn-danger ml-auto"
             aria-label="{{_('Delete')}}"
             href="{{url_as('.remove',
                             content_type=document.content_type,
                             slug=document.slug)}}">
            <i class="fas fa-trash"></i>
          </a>
          {% endif %}
        </div>
        <hr>
        <div class="form-group">
          <label>{{_('Date')}}</label>
          <input class="form-control datepicker"
                 type="text"
                 name="date"
                 value="{{document.date}}">
        </div>
        <div class="form-group">
          <label>{{_('Publish Status')}}</label>
          <select class="form-control"
                  name="status">
            <option value="0"
                    {{'selected' if document.status==0}}>
              {{_('Draft')}}
            </option>
            <option value="1"
                    {{'selected' if document.status==1}}>
              {{_('Published')}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>{{_('Description')}}</label>
          <textarea class="form-control"
                    name="description">{{meta.description}}</textarea>
        </div>

        <div class="form-group">
          <label>{{_('Featured Image')}}</label>
          {% if meta.featured_img and meta.featured_img.src %}
          <div class="media-preview">
            <a href="{{meta.featured_img.src|shortcode}}"
               target="_blank">
              <img class="img-figure"
                   src="{{meta.featured_img.src|shortcode}}">
            </a>
          </div>
          {% endif %}
          <div class="input-group">
            <input class="form-control media-input"
                   type="text"
                   name="featured_img_src"
                   value="{{meta.featured_img.src
                            if meta.featured_img else ''}}">
            <div class="input-group-append">
              <button class="btn btn-primary"
                      aria-lable="{{_('Select Image')}}"
                      data-toggle="modal"
                      data-target="#MODAL-MEDIAREPO"
                      data-input="featured_img_src"
                      type="button">
                <i class="fas fa-image"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>{{_('Template')}}</label>
          <select class="form-control"
                  name="template">
            {% for tmpl in theme.templates %}
            <option value="{{tmpl}}"
                    {{'selected' if document.template==tmpl}}>
              {{tmpl}}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label>{{_('Category')}}</label>
          <select class="form-control"
                  data-height="100%"
                  name="terms"
                  multiple>
            {% for term in terms %}
            <option value="{{term.key}}"
                    {{'selected' if term.key in document.terms}}>
              {{term.meta.name}}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label>{{_('Parent')}}</label>
          <input class="form-control"
                 type="text"
                 name="parent"
                 value="{{document.parent}}">
          <small class="form-text text-muted">
            {{_('* Use parent content slug.')}}
          </small>
        </div>
        <div class="form-group">
          <label>{{_('Priority')}}</label>
          <input class="form-control"
                 type="text"
                 name="priority"
                 value="{{document.priority}}">
          <small class="form-text text-muted">
            {{_('* The priority of the content when sorting.')}}
          </small>
        </div>
        <div class="form-group">
          <label>{{_('Redirect')}}</label>
          <input class="form-control"
                 type="text"
                 name="redirect"
                 value="{{document.redirect}}">
        </div>

      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}
{% block page_scripts %}
<script src="{{static_url}}/modules/moment.min.js"></script>
<script src="{{static_url}}/modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{static_url}}/modules/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="{{static_url}}/modules/summernote/summernote-bs4.js"></script>
<script src="{{static_url}}/modules/summernote/plugin/ext-media.js"></script>
<script src="{{static_url}}/modules/summernote/lang/summernote-{{locale|replace('_', '-')}}.js"></script>
<script>
  'use strict';

  $('form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
      e.preventDefault();
      return false;
    }
  });

  $(".inputtags").tagsinput('items');


  /* summernote */
  var editor_lang = ($('.summernote').attr('locale') || '').replace('_', '-');

  $('.summernote').summernote({
    height: 640,
    dialogsInBody: true,
    lang: editor_lang,
    callbacks: {},
    toolbar: [
      // [groupName, [list of button]]
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['font', ['strikethrough', 'superscript', 'subscript']],
      ['fontsize', ['fontsize']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['insert', ['link', 'video', 'media']],
      ['view', ['codeview']],
    ]
  });
</script>
{% endblock %}
