<header id="header" class="container">
	<div class="row">
		{{ _('Hello World!') }}
		{% if translates %}
		<div id="language" class="col-md-2 col-sm-2 pull-right">
			<a id="language-switcher" href="#lang" class="language-switcher-btn" ontouchstart="language-switcher-btn-on">{{language_text}}</a>
			<div id="lang" class="language-list">
				{% for trans in translates %}
					{% if trans.code == locale %}
					<span class="lang-current-item">{{trans.name}}</span>
					{% else %}
					<a class="lang-item" href="{{trans.url}}">{{trans.name}}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% endif %}
		<div id="logo" class="col-md-2 col-sm-2">
			<a href="{{ base_url }}" class="logo-graph">{{ site_title }}</a>
		</div>
		<nav id="nav" class="col-md-4 col-sm-4">
			<ul>
				{% for item in g.navigation if g.navigation %}
					<li><a href="{{ item.url }}" ontouchstart="nav-btn-on">{{ item.nav }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>