{% import theme_config as theme with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ site_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ site_description }}">
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css">
    <link rel="shortcut icon" href="{{ theme_url }}/favicon.png">
</head>
<body>
<header>
</header>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
			<h1>Tinforce Theme</h1>
			<img src="{{uploads}}/works/anv/anv_1_s.jpg">
    		<section class="content">
    		  <h1>{{ site_title }} {{file_path}}123123123123213</h1>
              <div class="sub-title">{{ config.get("SITE_DESCRIPTION") or "My Posts" }}</div>
    		</section>
    		<ul class="nav">
    		{% for item in navigation %}
				<li>
					<a href="{{ item.url }}">{{ item.nav }}</a>
				</li>
    		{% endfor %}
    		</ul>
    		<ul class="entries">
    		{% for post in results %}
    		  <li>
    		    <a href="{{ post.url }}">
    		        <h3>{{ post.title }}-{{post.type}}-{{post.order}}</h3>
                <time>{{ post.date_formatted }}</time>
                <div>{{ post.description }}</div>
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
		{% include "pagination.html" %}
    	</div>
    </main>
  </div>
{% include "footer.html" %}
</body>
</html>