{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{ locale }}">
{% include "_head.html" %}
<body>
<div id="text1">test</div>
	<div id="wrapper">
		<!-- Header -->
		{% include "_header.html" %}
		<!-- #Header -->
		<!-- Tagline -->
		<div class="container">
			<section class="jumbotron">
				<h1>{{meta.tagline}}</h1>
			</section>
		</div>
		<!-- #Tagline -->
		<!-- Contents -->
		<div class="container">
			<section class="row works-list">
				{% for work in pages %}
					{% if work.type == "works" and work.title and work.thumbnail %}
						<figure class="col-md-3 col-sm-6"><a href="{{work.url}}">
							<figcaption>{{work.title}}</figcaption>
							<img src="{{work.thumbnail}}" title="{{work.title}}" alt="{{work.title}}" /></a>
						</figure>
					{% endif %}
				{% endfor %}
			</section>
			<section class="row">
				<div class="col-md-3 pull-right more">
					<a class="btn-more" href="#more" ontouchstart="btn-more-on">More</a>
				</div>
			</section>
		</div>
		<!-- #Contents -->
		<!-- Footer -->
		{% include "_footer.html" %}
		<!-- #Footer -->
	</div>
</body>
</html>