<!DOCTYPE html>
<html lang="{{ locale }}">
{% include "_head.html" %}
<body>
	<div id="wrapper">
		<!-- Header -->
		{% include "_header.html" %}
		<!-- #Header -->
		<!-- Tagline -->
		<div class="container">
			<section class="jumbotron">
				<h1 class="title">{{meta.tagline}}</h1>
				<a href="{{base_url}}{{current_page.type}}" class="btn-list"></a>
			</section>
		</div>
		<!-- #Tagline -->
		<!-- Contents -->
		<div class="container">
			<section class="row">
				<div class="col-md-4 col-sm-4 pull-right">
					<article>
						<header>
							<h5>{{meta.title}}</h5>
						</header>
						{{meta.brief}}
						<ul class="metadata">
							{% if meta.date %}
							<li><p>{{ meta.date_formatted }}</p></li>
							{% endif %}
							{% if meta.task %}
							<li><p>{{ meta.task }}</p></li>
							{% endif %}
							{% if meta.link %}
							<li><p><a rel="external" href="{{ meta.link }}">{{ meta.title }}</a></p></li>
							{% endif %}
						</ul>
					</article>
				</div>
				<div class="col-md-8 col-sm-8 pull-left">
					<aside>
						{{ content }}
					</aside>
				</div>
			</section>
		</div>
		<!-- #Contents -->
		<!-- Footer -->
		{% include "_footer.html" %}
		<!-- #Footer -->
	</div>
</body>
</html>