{% extends "layout.html" %}

{% block layout %}
<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3
                  col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
          <img class="shadow-light rounded-circle bg-white"
               src="{{static_url}}/pyco.png"
               alt="logo"
               width="100" >
        </div>

        <div class="card card-primary">
          <div class="card-header"><h4>{{_('Login')}}</h4></div>

          <div class="card-body">
            <form class="needs-validation"
                  action="{{url_as('.exec_login')}}"
                  method="POST"
                  novalidate="">
              <div class="form-group">
                <label for="passcode">{{_('Passcode')}}</label>
                <input id="passcode"
                       class="form-control"
                       name="passcode"
                       type="text">
              </div>

              <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block"
                        type="submit"
                        tabindex="4">
                  {{_('Login')}}
                </button>
              </div>
            </form>

          </div>
        </div>

        {{configure.login_extra|safe}}

        <div class="simple-footer">
          {{copyright|safe}}
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
