{% extends "layout.html" %}
{% set active_nav = 'book' %}

{% block title %}Books{% endblock %}

{% block body %}

<section class="container">
  <div>
    <button class="btn btn-primary"
            data-toggle="modal"
            data-target="#CREATE-BOOK-MODAL">
      Create new book
    </button>
    <a class="btn btn-default"
       href="{{url_for('.print_volumes')}}">
      Print Volumes
    </a>
    <a class="btn btn-default"
       href="{{url_for('.download')}}">
      Download CVS
    </a>
    <a class="btn btn-default pull-right"
       href="{{url_for('.category')}}">
      Category
    </a>
  </div>
</section>

<section class="container">
  <hr>
  <form action="{{url_for('.index')}}"
        method="GET">
    <div class="input-group">
      <input class="form-control"
             type="text"
             name="search_key"
             value="{{search_key}}"
             placeholder="Search..." />
      <span class="input-group-btn">
        <button class="btn btn-default">Search</button>
        <a class="btn btn-default"
           href="{{url_for('.index')}}">Clear</a>
      </span>
    </div>
  </form>
</section>

<section class="container">
  <nav>
    <ul class="pager">
      {% if p.prev %}
      <li class="previous">
        <a href="{{p.prev or '#'}}"><span>&larr;</span> Prev</a>
      </li>
      {% endif %}
      {% if p.next %}
      <li class="next {{'disabled' if not p.next}}">
        <a href="{{p.next or '#'}}">Next <span>&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="10%">#</th>
        <th width="15%">Cover</th>
        <th width="30%">Title</th>
        <th width="15%">Slug</th>
        <th width="10%">Updated</th>
        <th class="text-center"
            width="20%">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{loop.index0 + p.start}}</td>
        <td class="{{'t50' if not book.status}}">
          {% if book.meta.figure %}
          <img width="48" height="48" src="{{book.meta.figure}}"/>
          {% endif %}
        </td>
        <td class="{{'text-strike' if not book.status}}">
          {% if book.meta.title %}
            <b>{{book.meta.title}}</b>
          {% else %}
            <i><small>&lt;No Title&gt;</small></i>
          {% endif %}

        </td>
        <td>
          {{book.slug}}
        </td>
        <td>{{book.updated|dateformat}}</td>

        <td class="text-center">
          <a class="btn {{'btn-primary' if book.status else 'btn-default'}}"
             href="{{url_for('.detail', book_id=book._id)}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pager">
      {% if p.prev %}
      <li class="previous">
        <a href="{{p.prev or '#'}}"><span>&larr;</span> Prev</a>
      </li>
      {% endif %}
      {% if p.next %}
      <li class="next {{'disabled' if not p.next}}">
        <a href="{{p.next or '#'}}">Next <span>&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>
{% endblock %}


{% block custom_scripts %}
<script src="{{url_for('.static', filename='scripts/functions.js')}}">
</script>

<div class="modal fade modal-form"
     id="CREATE-BOOK-MODAL" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Book</h4>
      </div>
      <div class="modal-body">
        <!-- modal-form -->
        <form action="{{url_for('.create')}}" method="POST">
          <div class="form-group">
            <label class="control-label">Title</label>
            <input name="title" type="text" class="form-control">
          </div>
        </form>
        <!-- .modal-form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}