{% extends "layout.html" %}
{% set active_nav = 'dashboard' %}

{% block header %}{% endblock %}

{% block body %}
<section class="container">
  <div class="jumbotron">
    <h1>{{g.configure.meta.title|upper or 'Totoro System'|upper}}</h1>
    <hr>
    <p>
      Users: {{count.users}}
      &nbsp;&nbsp;&nbsp;&nbsp;
      Books: {{count.books}}
    </p>
  </div>
</section>

<section class="container">
  <h3>Pending Requests ({{count.pendings}})</h3>
  <div class="row">
    <div class="col-md-4">
      {% for vol in pending_vols %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="alert alert-warning">Pending: {{vol.renter}}</div>
          <h5>{{vol.meta.title}}</h5>
          <h5>{{vol.scope|upper}}/{{vol.code}}</h5>
          <div>
            <a href="{{url_for('book.detail', book_id=vol.book_id)}}">
              Manage
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr>

<section class="container">
  <div class="row">
    <!-- checkin -->
    <form class="col-md-6"
          action="{{url_for('.checkin')}}"
          method="POST">
      <h4>Recede</h4>
      <br>
      <div class="form-group">
        <label>User login</label>
        <input class="form-control"
               type="text"
               name="user_login"/>
      </div>

      <div class="form-group">
        <label>Book slug</label>
        <input class="form-control"
               type="text"
               name="book_slug"/>
      </div>

      <div class="form-group">
        <label>Book volume code</label>
        <input class="form-control"
               type="text"
               name="volume_code"/>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success">
            <span class="glyphicon glyphicon-book"></span>
            Check in
          </button>
        </div>
      </div>
    </form>

    <!-- check out -->
    <form class="col-md-4 col-md-offset-2"
          action="{{url_for('.checkout')}}"
          method="POST">
      <h4>Check Out</h4>
      <br>
      <div class="form-group">
        <label>User login</label>
        <input class="form-control"
               type="text"
               name="user_login"/>
      </div>

      <div class="form-group">
        <label>Book slug</label>
        <input class="form-control"
               type="text"
               name="book_slug"/>
      </div>

      <div class="form-group">
        <label>Book volume code</label>
        <input class="form-control"
               type="text"
               name="volume_code"/>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-book"></span>
            Check out
          </button>
        </div>
      </div>
    </form>
  </div>
  <br><br>

</section>

<hr>
<section class="container">
  <h4>Overtime Volumes</h4>
  {% if not overtime_vols %}
  <div class="text-center text-muted">
    None Overtime Volumes
  </div>
  {% endif %}
  {% for vol in overtime_vols %}
  <div class="panel panel-danger">
    <div class="panel-body">
      <a href="{{url_for('book.detail', book_id=vol.book_id)}}">
        {{vol.meta.title}} - {{vol.renter}}
      </a>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
