@font-face {
    font-family: "bellmt";
    src: url('../fonts/bellmt.ttf') format('tff');
}


h1,h2,h3,h4,h5,h6
{
	font-family: "bellmt";
}

p{
    font-family: Georgia, serif;
}

html,body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	height:100%;
}


.logo-flag{
    text-align: center;
    padding-top:20px;
    width: 150px;
    height: 100px;
    background-color: #777;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2010;
}
.logo-flag img{
    width: 80%;
}

@media(max-width: 767px){
    .logo-flag{
        display: none;
    }

}
@media (min-width: 768px){
	.navbar-nav{
		margin-left: 150px;
	}
}


a,
a:hover{
    color: white;
    text-decoration: none;
}
.navbar{
	border-radius:0;
	border-width: 0;
}
.navbar-inverse{
	background: rgba(2,2,2,0.7);
}
.content-container {
	position:relative;
	padding-top:90px;
	height:100%;
	margin-bottom:20px;
	z-index:30;
	max-width: 800px;
}
.qrcode-container{
	padding-top:20px;
	max-width:400px;

}

.qrcode-container .qrcode{
	padding-top:20px;
	text-align:center;
}

.back-arrow{
	padding:10px 10px 10px 10px;
	background: rgba(0,0,0,0.4);
	text-align:center;
	position:fixed;
	width:80px;
	height:80px;
	top:45%;
	left:10px;
	z-index:200;
	border:#fff 1px solid;
}
.back-arrow img{
	padding-top:15px;
}

.follow {
	max-width:120px;
	position:fixed;
	bottom:10px;
	right:35px;
	z-index:20;
}

.follow i{
	margin-top:5px;
	display:inline-block;
	line-height:35px;
	text-align:center;
	vertical-align:middle;
	font-size:20px;
	border:1px solid #fff;
	width:35px;
	height:35px;
	
}


@media(max-width:768px){
	.back-arrow{
		padding:8px 8px 8px 8px;
		background: rgba(0,0,0,0.4);
		text-align:center;
		position:fixed;
		width:40px;
		height:40px;
		top:10px;
		left:10px;
		z-index:200;
		border:#fff 1px solid;
	}
	.back-arrow img{
		height:100%;
		padding-top:0;
	}
	.arrow{
		display:none;
	}
	.follow {
		bottom:10px;
		right:10px;
	}
}