{% if booklet.max and booklet.paged %}
	{% set current_flip_page = booklet.paged %}
	{% set has_next_flip_page = current_flip_page < booklet.max %}
	{% set has_prev_flip_page = current_flip_page > 1 %}
	<!-- view -->
    <section style="margin-bottom: 10em;">
        {% if has_prev_flip_page %}
            <a rel="prev" class="a-hover" href="{{ glue({'paged':current_flip_page-1}) }}"><i class="icon-arrow-left"></i> Prev Page </a>
        {% endif %}
        {% if has_next_flip_page %}
            <a rel="next" style="float:right" class="a-hover" href="{{ glue({'paged':current_flip_page+1}) }}"> Next Page <i class="icon-arrow-right"></i></a>
        {% endif %}
    </section>
	<!-- #view -->
{% endif %}