{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ site_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ site_description }}">
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css">
    <link rel="shortcut icon" href="{{ theme_url }}/favicon.ico">
</head>
<body>
<header>
</header>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
    		  <h1>{{ site_title }} {{file_path}}</h1>
              <div class="sub-title">{{ meta.taxonomy}}</div>
    		</section>

    		<ul class="entries">
			{% set booklet = stapler(g.term_posts,paged=g.paged,perpage=g.perpage,post_type=["works"]) %}		
			{% for post in booklet.posts %}
	    		  <li>
	    		    <a href="{{ post.url }}">
	    		        <h3>{{ post.title }}-{{post.type}}-{{post.order}}-{{ post.url }}</h3>
	                <time>{{ post.date_formatted }}</time>
	                <div>{{ post.description }}</div>
	    		    </a>
	    		  </li>
			{% endfor %}
    		</ul>
        	{% include "_pagination.html" %}
    	</div>
    </main>
  </div>
{% include "_footer.html" %}
</body>
</html>