{% import "g" as g with context %}

<!DOCTYPE html>
<html lang="{{lang}}">

{% include '_head.html' %}

<body>
  <!-- Navigation -->
  {% include '_header.html' %}
  <!-- Page Header -->
  <header>
    <h1>{{meta.title}}</h1>
    <hr>
    <span>
      {{meta.description}}
    </span>
    <div>
      <img src="{{meta.featured_img.src}}" alt="{{meta.featured_img.title}}"/>
    </div>
  </header>

  <!-- Main Content -->
  <section>
    {% for post in pages | type('post') %}
      <article>
        <header>
          <h4>{{post.title}}</h4>
          <h5>Posted by {{post.author}} on {{post.date|date_formatted}}</h5>
        </header>
        <p>{{post.description}}</p>
        <a href="{{post.url}}">Enter</a>
      </artcile>
      <hr>
    {% endfor %}
  </section>
  {{slot.comment}}
<!-- Footer -->
{% include '_footer.html'%}
</body>
</html>
