{% import "g" as g with context %}

<!DOCTYPE html>
<html lang="{{lang}}">

<head>
{% include '_head_.html' %}
</head>

<body>
  {% include '_nav.html' %}
  <header>
    <h1>{{meta.title}}</h1>
    <hr>
    <span>
      {{meta.description}}
    </span>
    <div>
      <img src="{{meta.featured_img.src}}"
           alt="{{ meta.featured_img.title }}" />
    </div>
  </header>

  <!-- posts -->
  <section>
    {% set posts = query('post', args.paged, 3) %}
    {% for post in posts.contents %}
    <article>
      <header>
        <h4>{{post.title}}</h4>
        <h5>
          {{_('Posted by %s on %s', meta.author, meta.date|date_formatted)}}
        </h5>
      </header>
      <p>{{post.description}}</p>
      <a href="{{base_url}}/post/index/">{{_('Read More')}}</a>
    </artcile>
    <hr>
    {% endfor %}
  </section>

  {% include '_footer.html'%}
</body>
</html>
