{% import "g" as g with context %}

<!DOCTYPE html>
<html lang="{{lang}}">

<head>
{% include '_head_.html' %}
</head>

<body>
  {% include '_nav.html' %}
  <header>
    <h1>{{meta.title}}</h1>
    <h5>
      {{_('Posted by %s on %s', meta.author, meta.date|date_formatted)}}
    </h5>
  </header>

  <!-- content -->
  <section>
    <article>
      {{content}}
    </article>
    {% if slot.comment %}
    <hr>
    <aside>
      {{slot.comment}}
    </aside>
    {% endif %}
  </section>

  <!-- paginator -->
  {% set channel = query_sides(meta.id, 'post') %}
  {% if channel.before or channel.after %}
  <hr>
  {% endif %}
  <div class="paginator">
    {% if channel.before %}
      <a href="{{channel.before.url or '#'}}">{{_('Next page')}}</a>
    {% endif %}
    &nbsp;/&nbsp;
    {% if channel.after %}
      <a href="{{channel.after.url or '#'}}">{{_('Previous page')}}</a>
    {% endif %}
    </div>
  </div>

  <hr>
  <a href="{{base_url}}/post/index/">{{_('Return to post index')}}</a>

  {% include '_footer.html'%}
</body>
</html>
